.img_wrapper {
  gap: 10px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 500px;
  grid-auto-flow: dense;
  overflow: hidden;
  margin: 1rem;
}
.img_wrapper div {
  /* background-color: aqua; */
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(235,221,226,1) 65%);
  color: white;
}
.img_wrapper div h3 {
  padding: 1rem;
  white-space: nowrap;
}
.bigWrapper {
  margin: 0 5rem;
}
@media (max-width: 768px) {
  .img_wrapper div img {
    width: 75%;
    height: auto;
  }
  .img_wrapper {
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-auto-rows: 250px;
  }
  .bigWrapper {
    margin: 0;
  }
  .img_wrapper div h3 {
    padding: 1rem 0;
    white-space: nowrap;
    font-size: 20px;
  }
}

